@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@media (max-width: 1000px) {


  .categories-item{
    
    height: 250px;
    
  }

  .categories-images {
   
    grid-template-columns: repeat(4, 225px);
    gap: 20px;
  }


}



@media screen and (max-width: 768px) {
    

    .categories-item {
        width: 354px;
        height: 292px;
    }

    .line {
        max-width: 300px;
    }
     }
    
@media screen and (max-width: 360px){
    
}


.main-container {
  
  max-width: 100%;
  padding-top: 10px;
  font-family: 'Montserrat';
  padding-right: 20px;
  padding-bottom: 80px;
}

.category-list {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.h-categories{
  width: 361px;
  color: #424436;
  font-size: 64px;
  font-family: 'Montserrat';
  margin: 0;
}

.all-categories-button{
  cursor: pointer;
  width: 142px;
  height: 36px;
  background-color: #FFFFF1;
  color: #8B8B8B;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Montserrat';
  text-align: center;
  padding: 8px 16px;
  margin-top: 15px;
  margin-right: -80px;
}

.all-categories-button:hover{
  
  color: #3a3a3a;
  
}

.line {
width: 750px;
height: 1px;
border-bottom: 1px solid #DDDDDD;
margin-right: -150px;
margin-top: 15px;
}

.img_category {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
  
  .categories-item {
    /* width: 316px; */
    height: 392px;
    position: relative;
    text-align: center;
  }

  .categories-images {
    display: grid;
    grid-template-columns: repeat(4, 316px);
    gap: 32px;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  
  
  
  .categories-text {
    font-size: 20px;
    font-weight: 500;
    margin: 12px 0 4px;
    color: #424436;
  }